<div class="component">
  <div class="popup">
    <div class="buttons">
      <app-button (click)="goHome()">Powrót do strony głównej</app-button>
      <app-button (click)="createNewTask()">Utwórz nowe zadanie</app-button>
    </div>
    <hr>
    <div class="info">
      <h1>Wykorzystanie węzłów</h1>
      <app-progress-bar *ngFor="let node of nodes" [color]="getColor(node)" [progress]="100">
        <h2>Id: {{node.id}}</h2>
        <h2>Status: {{getStatus(node)}}</h2>
      </app-progress-bar>
    </div>
  </div>
</div>
