<div class="component">
  <div class="popup">
    <div class="buttons">
      <button (click)="goHome()">Powrót do strony głównej</button>
      <button (click)="createNewTask()">Utwórz nowe zadanie</button>
      <button (click)="goToNodeInfo()">Sprawdź obciążenie węzłów</button>
    </div>
    <hr>
    <div class="info">
      <div>
      <p>Status: {{getStatus()}}</p>
      <p>Typ: {{task.type}}</p>
      <p>Algorytm: {{task.algorithm}}</p>
      <p>Data zlecenia: {{task.date}}</p>
      </div>
   <button (click)="downloadInputData()">Pobierz dane wejściowe</button>
   <button *ngIf="task.status===3" (click)="downloadOutputData()">Pobierz wynik</button>
    </div>
  <app-progress-bar [progress]="task.progress" [color]="getColor()">{{task.progress}}%</app-progress-bar>
  </div>
</div>
