<div class="component">
  <div class="popup">
    <div class="buttons">
      <app-button (click)="goHome()">Powrót do strony głównej</app-button>
      <app-button (click)="createNewTask()">Utwórz nowe zadanie</app-button>
      <app-button (click)="goToNodeInfo()">Sprawdź obciążenie węzłów</app-button>
    </div>
    <hr>
    <div class="info">
      <div class="data">
        <p>Status: {{getStatus()}}</p>
        <p>Typ: {{task.type}}</p>
        <p>Data zlecenia: {{task.date}}</p>
      </div>
      <app-button class="button" (click)="downloadInputData()">Pobierz dane wejściowe</app-button>
      <app-button class="button" (click)="downloadOutputData()" *ngIf="task.status===3">Pobierz wynik</app-button>
    </div>
    <app-progress-bar [color]="getColor()" [progress]="task.progress">{{task.progress}}%</app-progress-bar>
  </div>
</div>
