<div class="component">
  <div class="popup">
    <div class="buttons">
      <button (click)="goHome()">Powrót do strony głównej</button>
      <button (click)="goToNodeInfo()">Sprawdź obciążenie węzłów</button>
    </div>
    <hr>
    <div class="info">
      <div>
        <label>
          <p>Wygeneruj losowe miasta</p>
          <input type="radio" name="checker" [(ngModel)]="type" value="random"/>
        </label>
        <label>
          <p>Wprowadź miasta z pliku</p>
          <input type="radio" name="checker" [(ngModel)]="type" value="file"/>
        </label>
      </div>
      <div>
        <label  *ngIf="type==='file'">
          <p>Wprowadź plik z miastami</p>
          <input type="file" (change)="onFileChange($event)">
        </label>
<!--        <button (click)="create()" [disabled]="!!data&&type">Zleć zadanie</button>-->
        <button (click)="create()" >Zleć zadanie</button>
      </div>
    </div>
  </div>
</div>
