.component {
  height: calc(100% - 164px);
  background-color: #D8D8D8;
  padding: 42px;

  .popup {
    background-color: white;
    border-radius: 40px;
    border: solid 1px #707070;

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;

      .file-selector{
        margin: 20px;
      }
    }
  }

  .buttons {
    padding: 30px;
  }

  h1 {
    width: 100%;
    text-align: center;
  }
}
