<div class="component">
  <div class="popup">
    <div class="buttons">
      <app-button (click)="goHome()">Powrót do strony głównej</app-button>
      <app-button (click)="goToNodeInfo()">Sprawdź obciążenie węzłów</app-button>
    </div>
    <hr>
    <div class="info">
      <div>
        <label>
          <p>Wygeneruj losowe miasta</p>
          <input [(ngModel)]="type" name="checker" type="radio" value="random"/>
        </label>
        <label>
          <p>Wprowadź miasta z pliku</p>
          <input [(ngModel)]="type" name="checker" type="radio" value="file"/>
        </label>
      </div>
      <div class="file-selector">
        <label *ngIf="type==='file'">
          <p>Wprowadź plik z miastami</p>
          <input (change)="onFileChange($event)" type="file">
        </label>
      </div>
      <div>
        <!--        <button (click)="create()" [disabled]="!!data&&type">Zleć zadanie</button>-->
        <app-button (click)="create()">Zleć zadanie</app-button>
      </div>
    </div>
  </div>
</div>
