<div class="component">
  <div class="popup">
    <div class="buttons">
      <button (click)="goHome()">Powrót do strony głównej</button>
      <button (click)="goToNodeInfo()">Sprawdź obciążenie węzłów</button>
    </div>
    <hr>
    <div class="info">
      <div>
        <label>
          <select>
            <option value="1">Mrówkowy</option>
          </select>
        </label>
        <label>
          <p>Wygeneruj losowe miasta</p>
          <input type="radio" name="checker"/>
        </label>
        <label>
          <p>Wprowadź miasta z pliku</p>
          <input type="radio" name="checker"/>
        </label>

      </div>
      <div>
        <button>Zleć zadanie</button>
      </div>
    </div>
  </div>
</div>
